body {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
}

.panel {
  float: left;
  margin-top: 10%;
  background-color: rgba(50, 50, 50, 0.8);
  border-color: black;
}
